

.container {
  background: white;
  align-content: center;
  min-width: 700px;
  min-height: 500px;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  background-color: grey;
  border: 5px solid white;
  font-size: 80px;
  color: white;
}



